[submodule "api"]
	path = api
	url = git@github.com:KLesiu/LGYM-APP-API.git
[submodule "mobile"]
	path = mobile
	url = git@github.com:KLesiu/LGYM-APP-MOBILE.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:KLesiu/LGYM-APP-FRONTEND.git
[submodule "apiv2"]
	path = apiv2
	url = https://github.com/KLesiu/LGYM-APP-APIv2.git
[submodule "page"]
	path = page
	url = https://github.com/KLesiu/LGYM-APP-PAGE.git
[submodule "apiv3"]
	path = apiv3
	url = https://github.com/Wan-de-Rock/LGYM-APP-API.git
[submodule "LGYM-API"]
	path = LGYM-API
	url = https://github.com/withelm/LGYM-API.git
[submodule "apiv4"]
	path = apiv4
	url = https://github.com/withelm/LGYM-API.git
